<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyh.base.mapper.UserMapper">


    <sql id="prePaging">
        SELECT * FROM (
            SELECT 
                ROW_NUMBER() OVER() AS row_num, A.*
            FROM (
    </sql>

    <sql id="postPaging">
            ) A
        ) AA        
        LIMIT #{rowsPerPage} OFFSET #{pageCalc}    
    </sql>
    

    <!-- 로그인유저 조회 -->
    <select id="selectLoginUser" parameterType="String" resultType="BoardDto">
    

        SELECT 
            idx,
            
            
            user_id,
            name            
        FROM
            tb_user
        <where>
            del_yn = 'N'
            AND user_id = #{userId}
        </where>
        

    
    </select>

    

</mapper>